In [1]:
import pandas as pd

In [3]:
dados_capacity = pd.read_excel('Cópia de CAPACITY TLV_LEAL_CREDOR_ATUALIZADO.xlsx')

In [4]:
dados_capacity.head()

,DATA CONTRATAÇÃO,DATA INICIO NA OP,SUPERVISOR,NOME,CPF,USUÁRIO ENGAGE,SENHA ENGAGE,USUARIO EXTERNO,STATUS,FUNÇÃO,ASSESSORIA,PRODUTO,GRUPO,TURNO,OBS
0,2024-12-23 00:00:00,2024-12-25 00:00:00,-,Adriana Queiroz Da Silva,024.212.311-24,ext_adrsilv,Leal@2025,ext_adrsilv,ATIVO,ASSISTENTE DE SUPERVISÃO,LEAL,STAFF,-,INTEGRAL,STAFF
1,2025-06-12 00:00:00,2025-06-17 00:00:00,Adriana,Aguida Manoela Pereira de Souza,065.990.641-40,ext_aguisouz,Leal@1806,ext_aguisouz,ATIVO,OPERADOR,LEAL,BNPL,-,VESPERTINO,Estagiário (a)
2,2025-01-20 00:00:00,2025-01-23 00:00:00,Cinthya,Alessandro Ferreira Rodrigues,711.042.531-27,ext_alesr,Leal@2025,ext_adesant,ATIVO,OPERADOR,LEAL,MERCHANT OF,-,VESPERTINO,CLT
3,2019-04-19 00:00:00,2023-01-01 00:00:00,-,Amanda Macedo Santos,066.719.961-64,ext_amanmace,Leal@1234,ext_sisilv,ATIVO,COORDENAÇÃO,LEAL,STAFF,-,INTEGRAL,STAFF
4,2024-12-23 00:00:00,2024-12-25 00:00:00,Chayene,Amanda Soares Cardoso,094.538.951-56,ext_amaca,Leal@2025,ext_medguilh,ATIVO,OPERADOR,LEAL,PRENDÁRIOS LEAD,-,VESPERTINO,CLT

In [5]:
dados_capacity = dados_capacity[['NOME', 'USUÁRIO ENGAGE']]
dados_capacity

                                     NOME USUÁRIO ENGAGE
0                Adriana Queiroz Da Silva    ext_adrsilv
1         Aguida Manoela Pereira de Souza   ext_aguisouz
2           Alessandro Ferreira Rodrigues      ext_alesr
3                    Amanda Macedo Santos   ext_amanmace
4                   Amanda Soares Cardoso      ext_amaca
..                                    ...            ...
175  Valquiria Alves Ferreira de Carvalho   ext_valqucar
176                 YASMIN ALVES DE SOUSA      ext_yasms
177                Vanessa da Silva Costa      ext_vanec
178                  VITOR MORAES MATIAS    ext_vitomati
179      Sarah Cristina Costa de Oliveira      ext_sarao

[180 rows x 2 columns]

In [8]:
dados_capacity.to_csv('capacity.csv', index= False)